@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Teko Light'), local('Teko-Light'), url(Teko-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Teko Regular'), local('Teko-Regular'), url(Teko-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Teko Medium'), local('Teko-Medium'), url(Teko-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Teko SemiBold'), local('Teko-SemiBold'), url(Teko-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Teko Bold'), local('Teko-Bold'), url(Teko-Bold.ttf) format('truetype');
}
